.l1j2xuoh{
    display:flex;
    gap:5px;
    justify-content:center;
    font-size:10px;
    margin-bottom:100px;
    margin-top:12px;
    flex-wrap:wrap
}

@media (min-width:768px)
{
    .l1j2xuoh
    {
        margin-bottom:0;
        font-size:12px;
        margin-top:20px
    }
}

.l1j2xuoh>a{
    color:#595959!important

}

.wzjkpvr{
    flex:1 1;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    width:100%

}
.wzjkpvr div{
    display:flex;
    gap:12px
}

.wzjkpvr p{
    font-size:12px
    ;font-weight:400;
    color:#8c8c8c
}

.wzjkpvr img{
    height:18px
}

.wzjkpvr .veh-link{
    display:flex;
    align-items:center;
    height:21.5px;
    overflow:hidden;
    margin-left:-3px
}
.wzjkpvr .veh-link img{ 
    height:93px;
    width:93px
}

@media (min-width:768px){
    .wzjkpvr{
        position:fixed;
        bottom:24px;
        left:40px;
        width:unset
    }
    .wzjkpvr div{
        gap:20px
    }
    .wzjkpvr img{
        height:20px
    }
    .wzjkpvr p{
        font-weight:700
    }
}.w1eil6in{
    display:flex;
    flex-direction:column;
    align-items:center;
    min-height:100svh;
    padding:16px
}
@media (min-width:768px){
    .w1eil6in{
        background:url(https://static.chotot.com/storage/marketplace/login-background.webp) no-repeat;
        background-size:contain;
        justify-content:center;
        background-position-y:60%
    }
}
.t2162oh{
    position:absolute;
    top:16px;
    left:16px;
    font-size:20px;
    color:#4e8bef
}
.t2162oh.warning{
    color:#f80
}
.t2162oh.success{
    color:#12a154
}
.t2162oh.error{
    color:#e5193b
}
.eil7jdc{
    background-color:#f4f4f4;
    padding:16px;
    font-size:.75rem;
    line-height:16px;
    color:#8c8c8c;
    text-align:center;
    border-radius:4px
}
@media screen and (min-width:768px){
    .eil7jdc{
        font-size:.875rem;
        line-height:20px
    }
}
.eil7jdc>:last-child{
    margin-bottom:0
}
.l429gum{
    max-height:32px;
    overflow:hidden
}
@media screen and (min-width:768px){
    .l429gum{
        max-height:none
    }
}
.c1hikxa4{
    font-size:.75rem;
    line-height:16px;
    margin-bottom:8px
}
.c1hikxa4>:last-child{
    margin-bottom:0
}
@media screen and (min-width:768px){
    .c1hikxa4{
        font-size:.875rem;
        line-height:20px
    }
}
.sn3ubvc{
    position:relative;
    padding:16px 16px 16px 48px;
    border-radius:4px;
    text-align:right;
    background-color:#f2f6fc
}
.sn3ubvc.warning{
    background-color:#fff4e0
}
.sn3ubvc.success{
    background-color:#ecf9f1
}
.sn3ubvc.error{
    background-color:#ffe5ea
}
.sn3ubvc>*{
    text-align:left
}
.sn3ubvc>h6{
    font-size:.875rem;
    font-weight:700;
    line-height:20px;margin:0 16px 4px 0
}
.sn3ubvc.compact{
    display:flex;
    align-items:center;
    height:40px;
    padding:0 32px 0 48px
}
.sn3ubvc.compact>.t2162oh{
    top:10px
}
.sn3ubvc.no-button>.c1hikxa4{
    margin-bottom:0
}
.sn3ubvc.compact>.c1hikxa4{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-bottom:0
}
@media screen and (min-width:768px){
    .sn3ubvc{
        padding-right:32px
    }
    .sn3ubvc>h6{
        margin-right:0
    }
}
.e1rhc1w9{
    position:absolute;
    bottom:15px;
    right:16px;
    color:#2a70df;
    -webkit-text-decoration:underline;
    text-decoration:underline;
    background-color:inherit;
    font-size:.75rem;
    line-height:16px;
    padding-right:64px
}
.e1rhc1w9:focus{
    outline:none
}
.e1rhc1w9:before{
    content:"...";
    position:absolute;
    bottom:1px;
    left:-12px;
    padding-left:4px;
    color:#222;
    background-color:inherit
}
@media screen and (min-width:768px){
    .e1rhc1w9{
      display:none
    }
  }
  .a10rj06c{
    background-color:transparent;
    border:0;
    padding:4px 12px;
    margin:-4px -12px;
    font-weight:700;
    font-size:.75rem;
    line-height:16px;
    text-transform:uppercase;
    color:#4e8bef
  }
  .a10rj06c.warning{
    color:#f80
  }
  .a10rj06c.success{
    color:#12a154
  }
  .a10rj06c.error{
    color:#e5193b
  }
  .c19650ud{
    position:absolute;
    top:12px;
    right:12px;
    padding:8px;
    margin:-8px;
    background-color:transparent;
    font-size:12px;
    height:28px
  }
  .c19650ud:focus{
    outline:none
  }
  .b13ldopu{
    color:#222;
    font-size:20px;
    margin-top:32px;
    margin-bottom:24px
  }
  @media (min-width:768px){
    .b13ldopu{
      margin-top:20px;
      font-size:24px
    }
  }
  .b1ijgv5p{
    color:#595959;
    margin-top:-24px;
    margin-bottom:24px
  }
  .e1nrpfz9{
    margin-top:var(--e1nrpfz9-0);
    margin-bottom:var(--e1nrpfz9-1)
  }
  .b4hnkwj{
    width:100%
  }
  .b4hnkwj .logo>img{
    width:121px;
    height:44px
  }
  @media (min-width:768px){
    .b4hnkwj{
      width:440px;
      border-radius:8px;
      background-color:#fff;
      padding:32px 40px;
      box-shadow:0 0 8px rgba(30,40,60,.1);
      min-height:var(--b4hnkwj-0)
    }
    .b4hnkwj .logo{
      display:flex;
      justify-content:center
    }
  }
  .ire0wc{
    width:100%;
    height:100%;
    font-size:.875rem;
    color:#222;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline:none;
    border:none;
    padding:14px 12px 0;
    border-radius:4px;
    background-color:#fff
  }
  .ire0wc.required+label:after{
    content:"*";
    margin-left:4px;
    color:#e5193b
  }
  .ire0wc.isDropdown{
    cursor:pointer
  }
  .ire0wc:disabled{
    background-color:#f4f4f4;
    cursor:default
  }
  .ire0wc.noLabel{
    padding-top:0
  }
  .ire0wc.hasValue+label,
  .ire0wc:-webkit-autofill+label{
    transform:scale(.7143) translateY(-10px);
    font-weight:700
  }
  .i3z0z0s:focus+label{
    transform:scale(.7143) translateY(-10px);
    font-weight:700
  }
  .c5ntovc{
    width:var(--c5ntovc-0)
  }
  .p1scu4lb{
    color:#8c8c8c;
    font-size:.625rem;
    min-height:16px;
    margin-left:12px;
    line-height:1.5;
    text-align:left
  }
  .i14mr5f8{
    width:100%;
    height:48px;
    position:relative;
    border-radius:4px;
    border:1px solid silver;
    background-color:#fff
  }
  .i14mr5f8:focus-within{
    border-color:#f80
  }
  .i14mr5f8.error{
    border-color:#e5193b
  }
  .i14mr5f8.error+p{
    color:#e5193b
  }
  .i14mr5f8.disabled{
    border-color:#f4f4f4;
    background-color:#f4f4f4
  }
  .i14mr5f8>label{
    position:absolute;
    top:13px;
    left:12px;
    cursor:text;
    pointer-events:none;
    transform-origin:top left;
    transition:transform .1s ease;
    color:#8c8c8c;
    font-size:.875rem
  }
  .i14mr5f8>button{
    background:transparent;
    outline:none;
    border:none;
    height:48px;
    min-width:16px;
    position:absolute;
    top:0;
    right:5px;
    color:#2a70df;
    padding:8px
  }
  .i14mr5f8>.password{
    top:-1px
  }
  .i14mr5f8 svg{
    font-size:.75rem
  }
  .i14mr5f8>svg{
    height:48px;
    top:-1px;
    right:12px;
    pointer-events:none
  }
  .i14mr5f8>svg,
  .t1aa5opi{
    position:absolute;
    color:#8c8c8c
  }
  .t1aa5opi{
    top:6px;
    right:4px;
    padding:8px
  }
  .t1aa5opi>p{
    visibility:hidden;
    width:236px;
    background-color:#222;
    color:#fff;
    border-radius:4px;
    padding:8px 12px;
    position:absolute;
    top:32px;
    opacity:0;
    transition:all .1s ease;
    z-index:1800;
    font-size:.875rem;
    text-align:left;
    transform:scale(.9)
  }
  .t1aa5opi>p:after{
    content:"";
    position:absolute;
    bottom:calc(100% - 1px);
    border:8px solid transparent;
    border-bottom-color:#222
  }
  .t1aa5opi:hover>p{
    visibility:visible;
    opacity:1;
    transform:scale(1)
  }
  .t1aa5opi.tooltip-left>p{
    transform-origin:205px 0;
    left:-205px
  }
  .t1aa5opi.tooltip-left>p:after{
    left:203px
  }
  .t1aa5opi.tooltip-right>p{
    transform-origin:14px 0;
    left:-4px
  }
  .t1aa5opi.tooltip-right>p:after{
    left:12px
  }
  .t1aa5opi svg{
    font-size:1rem
  }
  .bns1dlc{
    cursor:pointer;
    display:inline-flex;
    font-weight:400;
    align-items:center;
    border-style:solid;
    border-width:1px
  }
  .bns1dlc.stretch{
    width:100%;
    display:flex;
    justify-content:center
  }
  .bns1dlc.i-left>svg{
    margin-right:.5em;
    margin-left:0
  }
  .bns1dlc.i-right>svg{
    margin-right:0;
    margin-left:.5em
  }
  .bns1dlc.small{
    font-size:.75rem;
    line-height:1;
    padding:5px 11px
  }
  .bns1dlc.small.icon{
    font-size:.75rem;
    padding:.3rem
  }
  .bns1dlc.small.i-left>svg,
  .bns1dlc.small.i-right>svg{
    font-size:.75rem
  }
  .bns1dlc,
  .bns1dlc.medium{
    font-size:.875rem;
    line-height:1;
    padding:8px 16px
  }
  .bns1dlc.icon,
  .bns1dlc.medium.icon{
    font-size:1rem;
    padding:.4rem
  }
  .bns1dlc.i-left>svg,
  .bns1dlc.i-right>svg,
  .bns1dlc.medium.i-left>svg,
  .bns1dlc.medium.i-right>svg{
    font-size:1rem
  }
  .bns1dlc.large{
    font-size:1rem;
    line-height:1.25;
    padding:9px 19px
  }
  .bns1dlc.large.icon{
    font-size:1.25rem;
    padding:.5rem
  }
  .bns1dlc.large.i-left>svg,
  .bns1dlc.large.i-right>svg{
    font-size:1.25rem
  }
  .bns1dlc,
  .bns1dlc.primary{
    color:#fff;
    background-color:#f80;
    border-color:#f80
  }
  .bns1dlc.primary:hover,
  .bns1dlc:hover{
    color:#fff;
    background-color:#ffb057;
    border-color:#ffb057
  }
  .bns1dlc.primary:active,
  .bns1dlc:active{
    color:#fff;
    background-color:#e56700;
    border-color:#e56700
  }
  .bns1dlc.info{
    color:#fff;
    background-color:#4e8bef;
    border-color:#4e8bef
  }
  .bns1dlc.info:hover{
    color:#fff;
    background-color:#7ea8ed;
    border-color:#7ea8ed
  }
  .bns1dlc.info:active{
    color:#fff;
    background-color:#2a70df;
    border-color:#2a70df
  }
  .bns1dlc.critical{
    color:#fff;
    background-color:#e5193b;
    border-color:#e5193b
  }
  .bns1dlc.critical:hover{
    color:#fff;
    background-color:#b01730;
    border-color:#b01730
  }
  .bns1dlc.critical:active{
    color:#fff;
    background-color:#ff4766;
    border-color:#ff4766
  }
  .bns1dlc.caution{
    color:#fff;
    background-color:#ffba00;
    border-color:#ffba00
  }
  .bns1dlc.caution:hover{
    color:#fff;
    background-color:#ffd35c;
    border-color:#ffd35c
  }
  .bns1dlc.caution:active{
    color:#fff;
    background-color:#e09900;
    border-color:#e09900
  }
  .bns1dlc.positive{
    color:#fff;
    background-color:#12a154;
    border-color:#12a154
  }
  .bns1dlc.positive:hover{
    color:#fff;
    background-color:#26c06e;
    border-color:#26c06e
  }
  .bns1dlc.positive:active{
    color:#fff;
    background-color:#108446;
    border-color:#108446
  }
  .bns1dlc.accent{
    color:#fff;
    background-color:#12a154;
    border-color:#12a154
  }
  .bns1dlc.accent:hover{
    color:#fff;
    background-color:#26c06e;
    border-color:#26c06e
  }
  .bns1dlc.accent:active{
    color:#fff;
    background-color:#108446;
    border-color:#108446
  }
  .bns1dlc.secondary{
    color:#fff;
    background-color:#f80;
    border-color:#f80
  }
  .bns1dlc.secondary:hover{
    color:#fff;
    background-color:#ffb057;
    border-color:#ffb057
  }
  .bns1dlc.secondary:active{
    color:#fff;
    background-color:#e56700;
    border-color:#e56700
  }
  .bns1dlc.tertiary{
    color:#fff;
    background-color:#8c8c8c;
    border-color:#8c8c8c
  }
  .bns1dlc.tertiary:hover{
    color:#fff;
    background-color:#a7a7a7
  }
  .bns1dlc.tertiary:active{
    color:#fff;
    background-color:#737373
  }
  .bns1dlc.error{
    color:#fff;
    background:#e5193b;
    border-color:#e5193b
  }
  .bns1dlc.error:hover{
    background:#ff4766
  }
  .bns1dlc.error:active{
    background:#b01730
  }
  .bns1dlc.outline,
  .bns1dlc.outline.o-primary{
    color:#f80;
    background:transparent;
    border-color:currentColor
  }
  .bns1dlc.outline.o-primary:hover,
  .bns1dlc.outline:hover{
    color:#ffb057;
    background:#ffe9c2;
    border-color:currentColor
  }
  .bns1dlc.outline.o-primary:active,
  .bns1dlc.outline:active{
    color:#e56700;
    background:transparent;
    border-color:currentColor
  }
  .bns1dlc.o-info{
    color:#4e8bef
  }
  .bns1dlc.o-info:hover{
    background:#e4ecfb;
    color:#7ea8ed
  }
  .bns1dlc.o-info:active{
    color:#2a70df
  }
  .bns1dlc.o-critical{
    color:#e5193b
  }
  .bns1dlc.o-critical:hover{
    background:#ffe5ea;
    color:#b01730
  }
  .bns1dlc.o-critical:active{
    color:#ff4766
  }
  .bns1dlc.o-caution{
    color:#ffba00
  }
  .bns1dlc.o-caution:hover{
    background:#ffe999;
    color:#ffd35c
  }
  .bns1dlc.o-caution:active{
    color:#e09900
  }
  .bns1dlc.o-positive{
    color:#12a154
  }
  .bns1dlc.o-positive:hover{
    background:#d9f2e4;
    color:#26c06e
  }
  .bns1dlc.o-positive:active{
    color:#108446
  }
  .bns1dlc.o-accent{
    color:#12a154
  }
  .bns1dlc.o-accent:hover{
    background:#d9f2e4;
    color:#12a154
  }
  .bns1dlc.o-accent:active{
    background:#abe7c5;
    color:#12a154
  }
  .bns1dlc.o-error{
    color:#e5193b
  }
  .bns1dlc.o-error:hover{
    background:#ffe5ea;
    color:#e5193b
  }
  .bns1dlc.o-error:active{
    background:#fccfd7;
    color:#e5193b
  }
  .bns1dlc.outline.o-secondary{
    color:#f80;
    background:#fff;
    border-color:#f80
  }
  .bns1dlc.outline.o-secondary:hover{
    background:#ffe9c2
  }
  .bns1dlc.outline.o-secondary:active{
    background:#ffd494
  }
  .bns1dlc.outline.o-tertiary{
    color:#222;
    background:#fff;
    border-color:silver
  }
  .bns1dlc.outline.o-tertiary:hover{
    color:#222;
    background:#e8e8e8;
    border-color:silver
  }
  .bns1dlc.outline.o-tertiary:active{
    color:#222;
    background:silver;
    border-color:#8c8c8c
  }
  .bns1dlc.disabled,
  .bns1dlc:disabled,
  .bns1dlc[disabled]{
    color:#fff;
    background-color:silver;
    border-color:silver;
    cursor:default
  }
  .bns1dlc.disabled:active,
  .bns1dlc.disabled:hover,
  .bns1dlc:disabled:active,
  .bns1dlc:disabled:hover,
  .bns1dlc[disabled]:active,
  .bns1dlc[disabled]:hover{
    color:#fff;
    background-color:silver;
    border-color:silver
  }
  .bns1dlc.outline.disabled,
  .bns1dlc.outline.disabled:active,
  .bns1dlc.outline.disabled:hover,
  .bns1dlc.outline:disabled,
  .bns1dlc.outline:disabled:active,
  .bns1dlc.outline:disabled:hover,
  .bns1dlc.outline[disabled],
  .bns1dlc.outline[disabled]:active,
  .bns1dlc.outline[disabled]:hover{
    color:silver;
    background-color:transparent;
    border-color:silver
  }
  .bns1dlc.r-normal{
    border-radius:4px
  }
  .bns1dlc.r-pill{
    border-radius:9999px
  }
  .bns1dlc.r-circle{
    border-radius:100%
  }
  .bns1dlc.w-normal{
    font-weight:400
  }
  .bns1dlc.w-bold{
    font-weight:700
  }
  
/*# sourceMappingURL=f5e926ca57cd1f14.css.map*/