.wzjkpvr {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
}

.wzjkpvr div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
}

.wzjkpvr p {
    font-size: 12px;
    font-weight: 400;
    color: #8C8C8C;
}

.wzjkpvr img {
    height: 18px;
}

.wzjkpvr .veh-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 21.5px;
    overflow: hidden;
    margin-left: -3px;
}

.wzjkpvr .veh-link img {
    height: 93px;
    width: 93px;
}

@media (min-width:768px) {
    .wzjkpvr {
        position: fixed;
        bottom: 24px;
        left: 40px;
        width: unset;
    }

    .wzjkpvr div {
        gap: 20px;
    }

    .wzjkpvr img {
        height: 20px;
    }

    .wzjkpvr p {
        font-weight: 700;
    }
}

.l1j2xuoh {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 10px;
    margin-bottom: 100px;
    margin-top: 12px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (min-width:768px) {
    .l1j2xuoh {
        margin-bottom: 0;
        font-size: 12px;
        margin-top: 20px;
    }
}

.l1j2xuoh>a {
    color: #595959 !important;
}

.w1eil6in {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100svh;
    padding: 16px;
}

@media (min-width:768px) {
    .w1eil6in {
        background: url(https://static.chotot.com/storage/marketplace/login-background.webp) no-repeat;
        background-size: contain;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-position-y: 60%;
    }
}

.wyidwi2 {
    text-align: start;
}

.wyidwi2 a {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.wyidwi2 h4 {
    text-align: center;
}

.b13ldopu {
    color: #222222;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 24px;
}

@media (min-width:768px) {
    .b13ldopu {
        margin-top: 20px;
        font-size: 24px;
    }
}

.b1ijgv5p {
    color: #595959;
    margin-top: -24px;
    margin-bottom: 24px;
}

.e1nrpfz9 {
    margin-top: var(--e1nrpfz9-0);
    margin-bottom: var(--e1nrpfz9-1);
}

.b4hnkwj {
    width: 100%;
}

.b4hnkwj .logo>img {
    width: 160px;
    height: 90px;
}

@media (min-width:768px) {
    .b4hnkwj {
        width: 440px;
        border-radius: 8px;
        background-color: white;
        padding: 32px 40px;
        box-shadow: 0px 0px 8px rgba(30, 40, 60, 0.1);
        min-height: var(--b4hnkwj-0);
    }

    .b4hnkwj .logo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.g15384yj {
    position: relative;
}

.g15384yj #google-login-btn {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    opacity: 0.001;
}

.a1k9ogns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 16px;
}

.a1k9ogns>hr {
    width: 100%;
    color: #8C8C8C;
}

.a1k9ogns>span {
    white-space: nowrap;
    color: #595959;
    margin: 0 12px;
}

@media (min-width:768px) {
    .a1k9ogns {
        margin-top: 16px;
    }
}

.sdyg7j {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

.b10u9umr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #C0C0C0;
    background: white;
    font-weight: bold;
    color: #222222;
}

@media (min-width:768px) {
    .b10u9umr {
        height: 40px;
    }
}

.b10u9umr>svg {
    margin-right: 8px;
}

.ire0wc {
    width: 100%;
    height: 100%;
    font-size: 0.875rem;
    color: #222222;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    padding: 14px 12px 0 12px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.ire0wc.required+label::after {
    content: '*';
    margin-left: 4px;
    color: #E5193B;
}

.ire0wc.isDropdown {
    cursor: pointer;
}

.ire0wc:disabled {
    background-color: #F4F4F4;
    cursor: default;
}

.ire0wc.noLabel {
    padding-top: 0;
}

.ire0wc.hasValue+label,
.ire0wc:-webkit-autofill+label {
    -webkit-transform: scale(0.7143) translateY(-10px);
    -ms-transform: scale(0.7143) translateY(-10px);
    transform: scale(0.7143) translateY(-10px);
    font-weight: 700;
}

.i3z0z0s:focus+label {
    -webkit-transform: scale(0.7143) translateY(-10px);
    -ms-transform: scale(0.7143) translateY(-10px);
    transform: scale(0.7143) translateY(-10px);
    font-weight: 700;
}

.c5ntovc {
    width: var(--c5ntovc-0);
}

.p1scu4lb {
    color: #8C8C8C;
    font-size: 0.625rem;
    min-height: 16px;
    margin-left: 12px;
    line-height: 1.5;
    text-align: left;
}

.i14mr5f8 {
    width: 100%;
    height: 48px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #C0C0C0;
    background-color: #FFFFFF;
}

.i14mr5f8:focus-within {
    border-color: #FF8800;
}

.i14mr5f8.error {
    border-color: #E5193B;
}

.i14mr5f8.error+p {
    color: #E5193B;
}

.i14mr5f8.disabled {
    border-color: #F4F4F4;
    background-color: #F4F4F4;
}

.i14mr5f8>label {
    position: absolute;
    top: 13px;
    left: 12px;
    cursor: text;
    pointer-events: none;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: -webkit-transform 0.1s ease;
    -webkit-transition: transform 0.1s ease;
    transition: transform 0.1s ease;
    color: #8C8C8C;
    font-size: 0.875rem;
}

.i14mr5f8>button {
    background: transparent;
    outline: none;
    border: none;
    height: 48px;
    min-width: 16px;
    position: absolute;
    top: 0;
    right: 5px;
    color: #2A70DF;
    padding: 8px;
}

.i14mr5f8>.password {
    top: -1px;
}

.i14mr5f8 svg {
    font-size: 0.75rem;
}

.i14mr5f8>svg {
    height: 48px;
    position: absolute;
    top: -1px;
    right: 12px;
    color: #8C8C8C;
    pointer-events: none;
}

.t1aa5opi {
    position: absolute;
    top: 6px;
    right: 4px;
    color: #8C8C8C;
    padding: 8px;
}

.t1aa5opi>p {
    visibility: hidden;
    width: 236px;
    background-color: #222222;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 32px;
    opacity: 0;
    -webkit-transition: all 100ms ease;
    transition: all 100ms ease;
    z-index: 1800;
    font-size: 0.875rem;
    text-align: left;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.t1aa5opi>p::after {
    content: '';
    position: absolute;
    bottom: calc(100% - 1px);
    border: 8px solid transparent;
    border-bottom-color: #222222;
}

.t1aa5opi:hover>p {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.t1aa5opi.tooltip-left>p {
    -webkit-transform-origin: 205px 0;
    -ms-transform-origin: 205px 0;
    transform-origin: 205px 0;
    left: -205px;
}

.t1aa5opi.tooltip-left>p::after {
    left: 203px;
}

.t1aa5opi.tooltip-right>p {
    -webkit-transform-origin: 14px 0;
    -ms-transform-origin: 14px 0;
    transform-origin: 14px 0;
    left: -4px;
}

.t1aa5opi.tooltip-right>p::after {
    left: 12px;
}

.t1aa5opi svg {
    font-size: 1rem;
}

.fei2bp7 .forgot-password-btn {
    display: inline-block;
    color: #306bd9 !important;
    margin-bottom: 16px;
}

.fei2bp7 .login-btn {
    text-transform: uppercase;
}

.wnkq9uq p {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #222222;
    text-align: left;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[tabindex='-1']:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    margin: 8px 0;
    color: #E8E8E8;
    background-color: currentColor;
    border: 0;
    opacity: 1;
}

hr:not([size]) {
    height: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 8px;
    font-family: Helvetica, Arial, Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    color: #222222;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p {
    margin-top: 0;
    margin-bottom: 8px;
}

abbr[title],
abbr[data-original-title] {
    -webkit-text-decoration: underline;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul {
    padding-left: 2rem;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

b,
strong {
    font-weight: 700;
}

small {
    font-size: 0.75rem;
}

sub,
sup {
    position: relative;
    font-size: 0.625rem;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

a {
    color: #2A70DF;
    -webkit-text-decoration: none;
    text-decoration: none;
}

a:visited,
a:active {
    color: #1956B8;
}

a:hover {
    color: #4E8BEF;
}

a:not([href]),
a:not([href]):hover {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}

pre,
code,
kbd,
samp {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 0.75rem;
}

code {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: #222222;
    word-wrap: break-word;
}

a>code {
    color: inherit;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: 0.75rem;
    color: #222222;
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

kbd {
    padding: 2px 2px;
    font-size: 0.875rem;
    color: #222222;
    background-color: #FFB057;
    border-radius: 2px;
}

kbd kbd {
    padding: 0;
    font-size: 1em;
    font-weight: regular;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 2px;
    padding-bottom: 2px;
    color: #222222;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
    margin-bottom: 8px;
}

button {
    border-radius: 2px;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    border-width: 0;
    padding-left: 8px;
    padding-right: 8px;
}

button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
    cursor: pointer;
}

select {
    word-wrap: normal;
}

[list]::-webkit-calendar-picker-indicator {
    display: none;
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
    -webkit-appearance: textfield;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 8px;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

mark {
    padding: 2px;
    background-color: #FFB057;
}

progress {
    vertical-align: baseline;
}

::-webkit-datetime-edit {
    overflow: visible;
    line-height: 0;
}

[type='search'] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

template {
    display: none;
}

main {
    display: block;
}

[hidden] {
    display: none !important;
}

.bns1dlc {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-weight: normal;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.bns1dlc.stretch {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bns1dlc.i-left>svg {
    margin-right: 0.5em;
    margin-left: 0;
}

.bns1dlc.i-right>svg {
    margin-right: 0;
    margin-left: 0.5em;
}

.bns1dlc.small {
    font-size: 0.75rem;
    line-height: 1;
    padding: 5px 11px;
}

.bns1dlc.small.icon {
    font-size: 0.75rem;
    padding: 0.3rem;
}

.bns1dlc.small.i-right>svg,
.bns1dlc.small.i-left>svg {
    font-size: 0.75rem;
}

.bns1dlc,
.bns1dlc.medium {
    font-size: 0.875rem;
    line-height: 1;
    padding: 8px 16px;
}

.bns1dlc.icon,
.bns1dlc.medium.icon {
    font-size: 1rem;
    padding: 0.4rem;
}

.bns1dlc.i-right>svg,
.bns1dlc.medium.i-right>svg,
.bns1dlc.i-left>svg,
.bns1dlc.medium.i-left>svg {
    font-size: 1rem;
}

.bns1dlc.large {
    font-size: 1rem;
    line-height: 1.25;
    padding: 9px 19px;
}

.bns1dlc.large.icon {
    font-size: 1.25rem;
    padding: 0.5rem;
}

.bns1dlc.large.i-right>svg,
.bns1dlc.large.i-left>svg {
    font-size: 1.25rem;
}

.bns1dlc,
.bns1dlc.primary {
    color: #FFFFFF;
    background-color: #FF8800;
    border-color: #FF8800;
}

.bns1dlc:hover,
.bns1dlc.primary:hover {
    color: #FFFFFF;
    background-color: #FFB057;
    border-color: #FFB057;
}

.bns1dlc:active,
.bns1dlc.primary:active {
    color: #FFFFFF;
    background-color: #E56700;
    border-color: #E56700;
}

.bns1dlc.info {
    color: #FFFFFF;
    background-color: #4E8BEF;
    border-color: #4E8BEF;
}

.bns1dlc.info:hover {
    color: #FFFFFF;
    background-color: #7EA8ED;
    border-color: #7EA8ED;
}

.bns1dlc.info:active {
    color: #FFFFFF;
    background-color: #2A70DF;
    border-color: #2A70DF;
}

.bns1dlc.critical {
    color: #FFFFFF;
    background-color: #E5193B;
    border-color: #E5193B;
}

.bns1dlc.critical:hover {
    color: #FFFFFF;
    background-color: #B01730;
    border-color: #B01730;
}

.bns1dlc.critical:active {
    color: #FFFFFF;
    background-color: #FF4766;
    border-color: #FF4766;
}

.bns1dlc.caution {
    color: #FFFFFF;
    background-color: #FFBA00;
    border-color: #FFBA00;
}

.bns1dlc.caution:hover {
    color: #FFFFFF;
    background-color: #FFD35C;
    border-color: #FFD35C;
}

.bns1dlc.caution:active {
    color: #FFFFFF;
    background-color: #E09900;
    border-color: #E09900;
}

.bns1dlc.positive {
    color: #FFFFFF;
    background-color: #12A154;
    border-color: #12A154;
}

.bns1dlc.positive:hover {
    color: #FFFFFF;
    background-color: #26C06E;
    border-color: #26C06E;
}

.bns1dlc.positive:active {
    color: #FFFFFF;
    background-color: #108446;
    border-color: #108446;
}

.bns1dlc.accent {
    color: #FFFFFF;
    background-color: #12A154;
    border-color: #12A154;
}

.bns1dlc.accent:hover {
    color: #FFFFFF;
    background-color: #26C06E;
    border-color: #26C06E;
}

.bns1dlc.accent:active {
    color: #FFFFFF;
    background-color: #108446;
    border-color: #108446;
}

.bns1dlc.secondary {
    color: #FFFFFF;
    background-color: #FF8800;
    border-color: #FF8800;
}

.bns1dlc.secondary:hover {
    color: #FFFFFF;
    background-color: #FFB057;
    border-color: #FFB057;
}

.bns1dlc.secondary:active {
    color: #FFFFFF;
    background-color: #E56700;
    border-color: #E56700;
}

.bns1dlc.tertiary {
    color: #FFFFFF;
    background-color: #8C8C8C;
    border-color: #8C8C8C;
}

.bns1dlc.tertiary:hover {
    color: #FFFFFF;
    background-color: #A7A7A7;
}

.bns1dlc.tertiary:active {
    color: #FFFFFF;
    background-color: #737373;
}

.bns1dlc.error {
    color: #FFFFFF;
    background: #E5193B;
    border-color: #E5193B;
}

.bns1dlc.error:hover {
    background: #FF4766;
}

.bns1dlc.error:active {
    background: #B01730;
}

.bns1dlc.outline,
.bns1dlc.outline.o-primary {
    color: #FF8800;
    background: transparent;
    border-color: currentColor;
}

.bns1dlc.outline:hover,
.bns1dlc.outline.o-primary:hover {
    color: #FFB057;
    background: #FFE9C2;
    border-color: currentColor;
}

.bns1dlc.outline:active,
.bns1dlc.outline.o-primary:active {
    color: #E56700;
    background: transparent;
    border-color: currentColor;
}

.bns1dlc.o-info {
    color: #4E8BEF;
}

.bns1dlc.o-info:hover {
    background: #E4ECFB;
    color: #7EA8ED;
}

.bns1dlc.o-info:active {
    color: #2A70DF;
}

.bns1dlc.o-critical {
    color: #E5193B;
}

.bns1dlc.o-critical:hover {
    background: #FFE5EA;
    color: #B01730;
}

.bns1dlc.o-critical:active {
    color: #FF4766;
}

.bns1dlc.o-caution {
    color: #FFBA00;
}

.bns1dlc.o-caution:hover {
    background: #FFE999;
    color: #FFD35C;
}

.bns1dlc.o-caution:active {
    color: #E09900;
}

.bns1dlc.o-positive {
    color: #12A154;
}

.bns1dlc.o-positive:hover {
    background: #D9F2E4;
    color: #26C06E;
}

.bns1dlc.o-positive:active {
    color: #108446;
}

.bns1dlc.o-accent {
    color: #12A154;
}

.bns1dlc.o-accent:hover {
    background: #D9F2E4;
    color: #12A154;
}

.bns1dlc.o-accent:active {
    background: #ABE7C5;
    color: #12A154;
}

.bns1dlc.o-error {
    color: #E5193B;
}

.bns1dlc.o-error:hover {
    background: #FFE5EA;
    color: #E5193B;
}

.bns1dlc.o-error:active {
    background: #FCCFD7;
    color: #E5193B;
}

.bns1dlc.outline.o-secondary {
    color: #FF8800;
    background: #FFFFFF;
    border-color: #FF8800;
}

.bns1dlc.outline.o-secondary:hover {
    background: #FFE9C2;
}

.bns1dlc.outline.o-secondary:active {
    background: #FFD494;
}

.bns1dlc.outline.o-tertiary {
    color: #222222;
    background: #FFFFFF;
    border-color: #C0C0C0;
}

.bns1dlc.outline.o-tertiary:hover {
    color: #222222;
    background: #E8E8E8;
    border-color: #C0C0C0;
}

.bns1dlc.outline.o-tertiary:active {
    color: #222222;
    background: #C0C0C0;
    border-color: #8C8C8C;
}

.bns1dlc.disabled,
.bns1dlc:disabled,
.bns1dlc[disabled] {
    color: #FFFFFF;
    background-color: #C0C0C0;
    border-color: #C0C0C0;
    cursor: default;
}

.bns1dlc.disabled:hover,
.bns1dlc:disabled:hover,
.bns1dlc[disabled]:hover,
.bns1dlc.disabled:active,
.bns1dlc:disabled:active,
.bns1dlc[disabled]:active {
    color: #FFFFFF;
    background-color: #C0C0C0;
    border-color: #C0C0C0;
}

.bns1dlc.outline.disabled,
.bns1dlc.outline:disabled,
.bns1dlc.outline[disabled] {
    color: #C0C0C0;
    background-color: transparent;
    border-color: #C0C0C0;
}

.bns1dlc.outline.disabled:hover,
.bns1dlc.outline:disabled:hover,
.bns1dlc.outline[disabled]:hover,
.bns1dlc.outline.disabled:active,
.bns1dlc.outline:disabled:active,
.bns1dlc.outline[disabled]:active {
    color: #C0C0C0;
    background-color: transparent;
    border-color: #C0C0C0;
}

.bns1dlc.r-normal {
    border-radius: 4px;
}

.bns1dlc.r-pill {
    border-radius: 9999px;
}

.bns1dlc.r-circle {
    border-radius: 100%;
}

.bns1dlc.w-normal {
    font-weight: normal;
}

.bns1dlc.w-bold {
    font-weight: bold;
}
.error-message{
    color: #E5193B;
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}