.tieudevsnoidung,
.tieudevsnoidung2,
.tieudevsnoidung3 {
    display: inline-block;
    vertical-align: top; /* Đảm bảo các div nằm cùng hàng */
    margin-right: 20px ; /* Khoảng cách giữa các div */
    margin-top: 20px;
    margin-left: 50px;
}


.tieude1{
    width: 500px;
}
.noidung1{
    
    height: 500px;
    width: 500px;
}

.input-container {
    position: relative;
    display: inline-block; /* Đảm bảo chiều rộng của container chỉ bằng chiều rộng của input */
}

.custom-input {
    width: 120px; /* Độ rộng của input */
}

.input-container::after {
    content: "End Text"; /* Nội dung của pseudo-element */
    position: absolute; /* Định vị tuyệt đối */
    top: 50%; /* Đặt phần tử ở giữa theo chiều dọc */
    right: 5px; /* Khoảng cách từ phía bên phải */
    transform: translateY(-50%); /* Đưa nó ra giữa chiều dọc */
    color: gray; /* Màu chữ */
    pointer-events: none; /* Ngăn chặn sự kiện click vào phần tử */
}


.tieudevsnoidung2{
    height: 644px;
    
}
.image-container img {
    max-width: 200px; /* Đặt chiều rộng tối đa của ảnh là 100% của phần tử cha */
    max-height: 200px; /* Đặt chiều cao tối đa của ảnh là 100% của phần tử cha */
}
.tieudevsnoidung3{
    width: 400px;
}
.dangtin {
    position: fixed; /* Đặt vị trí cố định */
    bottom: 20px; /* Đặt khoảng cách từ bottom là 20px */
    right: 20px; /* Đặt khoảng cách từ right là 20px */
    font-size: 40px;
    background-color: rgb(253, 253, 66);
    border-radius: 10px; /* Thiết lập bán kính */
    border: 5px solid #5df802;
}