.table1{
  position: absolute;
  left: 300px;
  top: 200px;
  width: 1000px;
}

.tieude {
  background-color: aqua;

}
table {
  width: 100%;
  
  border-collapse: collapse;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.tieude th {
  background-color: #333;
  color: white;
}


tr:nth-child(even) {

  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.xoa{
  background-color: #7F8BF8;
}

.cam{
  background-color: #F75B5B;
}