<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/admin_trangchu.css">
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="stylesheet" href="CSS/header.css">
    <title>Document</title>
</head>

<body>
    <div
        style="position: fixed; top: 0; left: 0; width: 100%; background-color: #ffffff; z-index: 999; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
        <th:block th:include="header :: header"></th:block>
    </div>
    <div class="narvar">
        <a href="/admin">
            <button class="btn chon">Trang chủ</button>
        </a>
        <a href="/admin_quanlibaiviet">
            <button class="btn">quản lí bài viết</button>
        </a>
        <a href="/admin_quanlitaikhoan">
            <button class="btn">quản li tài khoản</button>
        </a>
        <a href="/admin_quanlibaiviet_daxoa">
            <button class="btn">bài viết đã xóa</button>
        </a>
        <a href="/admin_quanlibaiviet_daduyet">
            <button class="btn">bài viết đã duyệt</button>
        </a>
        <a href="admin_quanlibaiviet_dachothue">
            <button class="btn">bài viết đã cho thuê</button>
          </a>
    </div>

    <div class="khoitaikhaon">
        <div class="accont">
            <a href="/admin_quanlitaikhoan" class="accont-link">
                <div class="sotaikhaong" th:text="${allAccount}"></div>
                <div class="anhtaikhaong">
                    <img class="anhtaikhaong1" src="image/taikhaon1.png" alt="">
                </div>
            </a>
        </div>

        <div class="chartaccount"
            th:style="'--design: ' + ${list.get(0)} + '%; --frond-end: ' + ${list.get(1)} + '%; --back-end: ' +  0 + '%;'">
        </div>

        <div class="solieuchar">
            <div class="khacvanlai">
                <div class="xanhduong"></div>

            </div>
        </div>

        <div class="chutichchar">
            <ul>
                <li><span class="color yellow"></span> tài khoản còn hoạt động</li>
                <li><span class="color red"></span> Tài khoản bị cấm</li>
            </ul>
        </div>
    </div>

    <div class="khoibaiviet">
        <div class="baiviet">
            <a href="/admin_quanlibaiviet" class="baiviet-link">
                <div class="sobaiviet" th:text="${all}"></div>
                <div class="anhbaiviet">
                    <img class="anhbaiviet1" src="image/baiviet.jpg" alt="">
                </div>
            </a>
        </div>


        <div class="chartbaiviet"
            th:style="'--design: ' + ${list.get(2)} + '%; --frond-end: ' + ${list.get(3)} + '%; --back-end: ' +  ${list.get(4)} + '%;'">
        </div>


        <div class="chutichcharbaiviet">
            <ul>
                <li><span class="color yellow"></span> đã duyệt</li>
                <li><span class="color red"></span> đã xóa</li>
                <li><span class="color blue"></span> chưa duyệt</li>
            </ul>
        </div>
    </div>

    </div>
    <script src="/js/file1.js" defer></script>
    <script src="/js/comfirm.js" defer></script>
</body>

</html>